.all-work-container {
    flex-wrap: wrap;
}

.work-container {
    flex-direction: column;
}

.git-portfolio-img {
    max-width: 100%;
    object-fit: cover;
    border: 1px solid var(--lightgrey);
    filter: grayscale(100%);
}

.git-portfolio-img:hover {
    filter: grayscale(0);
}

/* Large phone/small tablet */

@media (min-width: 430px) {

    .git-portfolio-img {
        width: 345px;
    }
    
}

/* Tablet */

@media (min-width: 670px) {
    .work-container {
        flex-direction: row;
    }
}

/* Large desktop */

@media (min-width: 1400px) {
    
    .main-bot {
        margin-bottom: 2rem;
    }
}