@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

:root {
    --extralight: #f0f3f7;
    --light: #e9ecf0;
    --lightgrey: #5b5c62;
    --midgrey: #656577;
    --dark: #33333d;
    --header-height: 4rem;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    background: var(--extralight);
    color: var(--dark);
    transition: background 0.2s linear;
}

.dark {
    background-color: var(--midgrey);
    color: var(--light);
}

a {
    color: inherit;
}

#top-page {
    position: absolute;
    top:0;
    left:0;
}

/* Main */

main {
    margin-top: calc(var(--header-height) + 1rem);
}

/* Reusable classes */

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.m16px-bot {
    margin-bottom: 16px;
}

.m1-bot {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.center-items {
    align-items: center;
}

.center-content {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.m1-sides {
    margin-left: 1rem;
    margin-right: 1rem;
}



/* Tablet */

@media (min-width: 650px) {
    
    body {
        font-size: 18px;
    }
    
    .spread {
        justify-content: space-evenly;
    }    
         
}

/* Desktop */

@media (min-width: 1024px) {
    
    body {
        font-size: 20px;
    }    
  
    .spread {
        justify-content: center;
    }

    
}



