@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

:root {
    --light: #e9ecf0;
    --extralight: #f0f3f7;
    --dark: #33333d;
    --pink: #cfafaf;
    --midgrey: #656577;
    --lightgrey: #5b5c62;
    --header-height: 4rem;
}

body {
    height: 300rem;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    background: var(--extralight);
    color: var(--dark);
    transition: background 0.2s linear;
}

/* .light {
    background-color: var(--extralight);
    color: var(--dark);
} */

.dark {
    background-color: var(--midgrey);
    color: var(--light);
}

a {
    color: inherit;
}

/* Header */

header {
    height: var(--header-height);
    top: 0;
    position: fixed;
    width: 100vw;
    background: rgba(63, 61, 61, 0.466);
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.linked-logo {
    font-size: 35px;
}

/* Toggle switch */

.toggle-switch {
    position: relative;
    width: 100px;
}

label {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
}

input {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: 0.3s;
}

input:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 14px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

input:checked~.slider::before {
    transform: translateX(47.5px);
    background-color: var(--dark);
    box-shadow: none;
}

/* Main */

main {
    margin-top: calc(var(--header-height) + 1rem);
}

/* Top Main */

/* Containers for flex order */

.profile-img {
    order: 1;
}

.profile-text {
    text-align: right;
    order: 2;
}

/* Top Main styling */

.profile-pic {
    height: 150px;
    object-fit: cover;
    transform: scaleX(-1);
    margin-top: 1rem;
}

fieldset {
    border: 1px solid transparent;
    border-top-color: var(--lightgrey);
    overflow: hidden;
    width: 100%;
}

legend {
    padding: 0 10px;
    /* margin-left: 20rem; */
}

.small-shown {
    display: block;
}

.big-shown {
    display: none;
}


h1 {
    font-size: 25px;
}

/* Main Mid */

/* .main-mid {
    flex-direction: column;
} */

/* Containers for flex order */

.skill-list {
    flex-direction: column;
}

.ul-m {
    margin-top: 16px;
    margin-bottom: 0;
}

.list-items {
    list-style-type: none;
    white-space: nowrap;
}

.down-button {
    border: 1px transparent;
    background: inherit;
    padding: 0.5rem 6rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    /* transition: all; */

}

.down-button:hover {
    border: 1px solid var(--lightgrey);
}


.html-pad {
    padding-left: 4px;
    padding-right: 4px;
}

.css-pad {
    padding-left: 4px;
    padding-right: 4px;
}

.js-pad {
    padding-left: 3px;
    padding-right: 3px;
}

.ux-pad {
    padding-left: 1px;
    padding-right: 1px;

}

.coffee-pad {
    padding-left: 2px;
    padding-right: 2px;

}

/* Bouncy i */

.letter {
    text-align: center;
    line-height: 0;
}

.bounce {
    animation: bounce 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {
        transform: translate3d(0, -13px, 0);
    }

    to {
        transform: translate3d(0, -20px, 0);
    }
}

/* Reusable classes */

.m0 {
    margin: 0;
}

.m16-bot {
    margin-bottom: 16px;
}


.p0 {
    padding: 0;
}

.flex {
    display: flex;
}

.center-items {
    align-items: center;
}

.center-content {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.spread {
    justify-content: space-between;
}

.m1-sides {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Tablet */

@media (min-width: 760px) {

    body {
        font-size: 18px;
    }

    .spread {
        justify-content: space-evenly;
    }

    .main-top {
        margin-top: var(--header-height);
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: var(--header-height);
    }

    .profile-pic {
        height: 300px;
    }

    .skill-list {
        flex-direction: row;
    }

    .letter {
        line-height: 0.05;
    }
}

/* Desktop */

@media (min-width: 1024px) {

    body {
        font-size: 20px;
    }

    /* Header */

    .header-icons {
        margin-left: 3rem;
    }

    .toggle-switch {
        margin-right: 3rem;
    }

    /* Main Top */

    .profile-img {
        order: 3;
    }

    .profile-text {
        text-align: left;
        order: 2;
    }

    .profile-pic {
        height: 600px;
        object-fit: cover;
        transform: scaleX(+1);
        margin-top: 1rem;
    }

    .small-shown {
        display: none;
    }

    .big-shown {
        display: block;
    }

    .main-top {
        margin-top: calc(var(--header-height) + 1rem);
    }

    .main-mid {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .my-skills {
        flex-grow: 7;
    }

    .about-me {
        flex-grow: 1;
    }

    .letter {
        line-height: 0.02;
    }

    .spread {
        justify-content: center;
    }

    .js-pad {
        padding-left: 3.5px;
        padding-right: 3.5px;
    }

    .coffee-pad {
        padding-left: 2.5px;
        padding-right: 2.5px;

    }
}